# Environnements virtuels
.venv/

# Caches Python
__pycache__/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Fichiers de données ou notebooks à ignorer
Data.xlsx
DEA.ipynb
DEA.New.ipynb

# Fichiers spécifiques au projet
DEA/
